@import url(https://fonts.google.com/css2?family=Fredoka+One&dsiplay=swap);
*{
    margin: 0;
    padding: 0;
}
/*color 1*/
.tittle span{
    font-size: 50pt;
    font-weight: bold;
    position: relative;
    font-family: "Georgia";
    transition: all 1ms ease-in-out;
}
.tittle span::before{
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(17px);
}
.tittle span::after {
    content: var(--l);
    position: absolute;
    top: 80%;
    left: 0;
    filter: blur(50px);
    transform: rotateX(50deg);
}
.tittle span:hover{
    filter: contrast(800%);
}
.tittle span:nth-child(1){
    color: rgb(232, 235, 233);
}
.tittle span:nth-child(2){
    color: rgb(84, 233, 134);
}
.tittle span:nth-child(3){
    color: rgb(54, 57, 194);
}
.tittle span:nth-child(4){
    color: rgb(84, 233, 134);
}

/*color 2*/
.tittle2 span{
    font-size: 50pt;
    font-weight: bold;
    position: relative;
    font-family: "Georgia";
    transition: all 1ms ease-in-out;
}
.tittle2 span::before{
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(17px);
}
.tittle2 span::after {
    content: var(--l);
    position: absolute;
    top: 80%;
    left: 0;
    filter: blur(50px);
    transform: rotateX(50deg);
}
.tittle2 span:hover{
    filter: contrast(800%);
}
.tittle2 span:nth-child(1){
    color: rgb(214, 223, 81);
}
.tittle2 span:nth-child(2){
    color: rgb(81, 213, 223);
}
.tittle2 span:nth-child(3){
    color: rgb(199, 48, 48);
}
.tittle2 span:nth-child(4){
    color: rgb(81, 213, 223);
}