@import url(https://fonts.google.com/css2?family=Fredoka+One&dsiplay=swap);
*{
    margin: 0;
    padding: 0;
}
.tittle span{
    font-size: 110pt;
    font-weight: bold;
    position: relative;
    font-family: "Georgia";
    transition: all 1ms ease-in-out;
}
.tittle span::before{
    content: var(--l);
    position: absolute;
    transform: scale(3.1);
    filter: blur(50px);
}
.tittle span:hover{
    filter: contrast(50%);
}
.tittle span:nth-child(1){
    color: rgb(241, 53, 53);
}
.tittle span:nth-child(2){
    color: bisque;
}
.tittle span:nth-child(3){
    color: rgb(30, 212, 236);
}
.tittle span:nth-child(4){
    color: rgb(233, 245, 72);
}
.tittle span:nth-child(5){
    color: rgb(60, 238, 114);
}
.tittle span:nth-child(11){
    color: red;
}
.tittle span:nth-child(10){
    color: bisque;
}
.tittle span:nth-child(9){
    color: rgb(30, 212, 236);
}
.tittle span:nth-child(8){
    color: rgb(233, 245, 72);
}
.tittle span:nth-child(7){
    color: rgb(60, 238, 114);
}